apiVersion: v1
data:
  application-dbs.yml: |
{{ tpl .Values.yuuvis.dbconfig . | indent 4 }}
  application-dbstmp.yml: |
    yuuvis.db.name: {{.Values.yuuvis.db.name}}
    yuuvis.db.server: {{.Values.yuuvis.db.server}}
    yuuvis.db.username: {{.Values.yuuvis.db.user}}
    yuuvis.db.password: {{.Values.yuuvis.db.password}}
    
    spring.datasource.url: jdbc:postgresql://${yuuvis.db.server}/${yuuvis.db.name}
    spring.datasource.driver-class-name: org.postgresql.Driver
    spring.datasource.username: ${yuuvis.db.username}
    spring.datasource.password: ${yuuvis.db.password}
  application-prod.yml: |
    docker.enabled: true
  application-kubernetes.yml: |
{{ tpl .Values.yuuvis.kubernetesclientconfig . | indent 4 }}  
  system-prod.yml: |
{{ tpl .Values.yuuvis.systemProd . | indent 4 }}
  authentication-prod.yml: |
{{ tpl .Values.yuuvis.authconfig . | indent 4 }}
  application-es.yml: |
{{ tpl .Values.yuuvis.esconfig . | indent 4 }}
  application-mq.yml: |
{{ tpl .Values.yuuvis.mqconfig . | indent 4 }}
  application-storage.yml: |
{{ tpl .Values.yuuvis.storage . | indent 4 }}
  application-redis.yml: |
{{ tpl .Values.yuuvis.redisconfig . | indent 4 }}  
  registry-prod.yml: |
    indexing.sync: true
  application-oauth2.yml: |
{{ tpl .Values.yuuvis.oauth2 . | indent 4 }}
  application-metrics.yml: |
    management.metrics.web.server.auto-time-requests: true
kind: ConfigMap
metadata:
  name: profilesconfigmap
